body {
  background-color: #ffffff;
}

p {
  background-color: #000000;
}

span {
  background-color: #000000;
}

h1 {
  background-color: rgb(0, 0, 0);
}

h2 {
  background-color: #000000;
}

h3 {
  background-color: rgb(255, 255, 255);
}




